a.simple-footnote {
    text-decoration: none;
    position: relative;
    color: rgba(255,0,0,0.7);
}

a.simple-footnote::after {
    content: " ";
    position: absolute;
    width: 44px;
    height: 44px;
    transform: translateX(-50%) translateY(-10px);
    border-radius: 2px;
}

a.simple-footnote:hover::after {
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.4);
}

ol.simple-footnotes {
    border-top: 1px solid rgba(0,0,0,0.4);
    margin-top: 1em;
    padding-top: 1em;
}
ol.simple-footnotes::before {
    content: "Footnotes";
    display: block;
    text-align: left;
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0.5em;
}

*:has(> :target > a.simple-footnote) { animation: yellow-flash 200ms ease-out; }
sup:target:has(> a.simple-footnote) { animation: dunlop 500ms ease-out; }
@keyframes yellow-flash { from { background-color: yellow } to { background-color: transparent } }
@keyframes dunlop { from { background-color: green } to { background-color: transparent } }
